.container .btn {
    width: 70rem;
    height: 7rem;
    margin-top: 5rem;
}

#rent-button:hover {
    background-color: rgb(151, 151, 151);
}

#info {
    color: black;
    background-color: silver;
}

#info p {
    font-size: 0.8rem;
    font-weight: bolder;
}

form {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

input {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    width: 70rem;
}

.form-check-input {
    width: 10rem;
    height: 3rem;
    text-align: center;
}

.form-check-label {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    margin-right: 5rem;
}

.button {
    background-color: #000000;
    border: 1px solid #9d9d9d;
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 1rem;
    height: 5rem;
}

#show {
    color: transparent;
}

#show:hover {
    cursor: default;
}

#rental {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0.5rem;
    background-color: slategrey;
}

#rental:hover {
    background-color: red;
}

#rental:focus {
    background-color: red;
}

button {
    width: 100%;
}

.button {
    width: 100%;
}

img {
    width: 100%;
}

#payment button {
    color: black;
    font-weight: bold;
    font-size: 2rem;
    background-color: dimgray;
}

#payment button:hover {
    background-color: red;
}
#payment button:focus {
    background-color: red;
}
