.container .btn {
    width: 70rem;
    height: 7rem;
    margin-top: 5rem;
}

#form-index {
    display: none;
}

#info {
    color: white;
}

#info p {
    font-size: 0.8rem;
    font-weight: bolder;
}

form {
    display: none;
    color: white;
    border-style: outset;
    background-color: silver;
    border-radius: 5%;
    padding: 2rem;
}

input {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    width: 70rem;
}

.button {
    background-color: #000000;
    border: 1px solid #9d9d9d;
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 3rem;
    height: 5rem;
    width: 100%;
}

i {
    color: black;
}

#inner-html {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0.5rem;
}

button {
    display: block;
    border-radius: 5%;
}

.form-check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    background-color: cornsilk;
    margin-left: 2rem;
    color: rgb(0, 0, 0);
    height: 50px;
    width: 50px;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
}
.form-check-input:checked::before {
    position: absolute;
    top: 0.9rem;
    left: 25px;
    bottom: 35px;
    content: "\02143";
    transform: rotate(40deg);
}
.form-check-input:hover {
    background-color: white;
}
.form-check-input:checked {
    background-color: #f1f1f1;
}
label {
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.rental {
    border-style: outset;
    background-color: transparent;
    border-radius: 3rem;
    padding: 2rem;
}
.rental:hover {
    background-color: rgb(0, 0, 0);
}
.special-class {
    border-style: outset;
    background-color: silver;
    border-radius: 3rem;
    padding: 2rem;
    font-size: 2rem;
    color: black;
}

.product-border {
    border: 1px solid white;
    border-left: 0;
    border-right: 0;
    padding: 3rem;
}
#u-name {
    font-size: 5rem;
}
